
  // src/assets/sass/components/_authentication.scss

  .auth-form {
    &__label {
      display: block;
      font-weight: bold;
      margin-bottom: 1rem;
    }
    
    &__input {
      background-color: hsl(240, 20%, 95%);
      border-radius: 4px;
      border: 1px solid #ccc;
      color: hsl(240, 30%, 55%);
      padding: 10px;
      width: 100%;
    }
  
    &__button {
      background: var(--primary-button-background);
      border-radius: 4px;
      border: none;
      color: var(--primary-button-text);
      cursor: pointer;
      margin: 0;
      padding: 10px;
      transition: all 0.5s;
      width: 150px;
  
      &:disabled {
        background-color: var(--priary-button-background-disabled);
        color: var(--primary-button-text-disabled);
        cursor: not-allowed;
      }
      &:hover {
        background: var(--primary-button-background-hover);
        color: var(--primary-button-text-hover);
      }
      &:active {
      background: var(--primary-button-background-active);
      color: var(--rimary-button-text-active);
      }

    }
  
    &__error-message {
      color: var(--color-alert);
      margin-top: 1rem;
    }
  }
  
