// src/assets/sass/base/_base.scss
// Purpose: Apply project tokens to the now-normalized DOM.

html {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

body {
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-regular);
  color: var(--primary-text-color);
  background-color: var(--primary-container-bg-color-1);
  min-height: 100vh;
  min-width: 480px;
  margin: 0;
  padding: 0;
}
