// src/assets/sass/base/_base.scss
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

.root-container {
  margin: 1rem;
}

body {
  min-height: 100vh;
  min-width: 320px;
  padding: 1.0rem !important;
  place-items: center;
}

.page-container {
  align-content: space-around;
  display: grid;
  grid-gap: 0.75rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-content: start;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
  
