// src/assets/sass/base/_typography.scss
@use '../abstracts' as tokens;

a[href] {
  @include tokens.link-reset;
  color: var(--color-link);

  &:hover {
    color: var(--color-link-hover);
  }
  @media (prefers-color-scheme: light) {
    &:hover {
      color: var(--color-link-hover-light);
    }
 }
}
