
/* blue-light.loader.css */
@import url("/themes/public/css-palettes/oklch-earth-tones-light.css")
  supports(color: oklch(50% 0.2 264));

/* Fallback for browsers without OKLCH support */
@import url("/themes/public/css-palettes/hsla-earth-tones-light.css")
  supports (not (color: oklch(50% 0.2 264)));

