.nav-layout {
  display: grid;
  grid-gap: 0.75rem;
  grid-area: 1/1/span 1/span 5;
  grid-template-columns: repeat(2, auto 1fr);
  grid-template-rows: 1fr;
  justify-items: self-end;
  margin: 1.0rem;
}

.bread-crumbs {
  display: flex;
  grid-gap: 0.75rem;
  font-size: 1.15rem;
  grid-area: 1 / 1 / span 1 / span 1;
}

.bread-crumbs a {
  font-weight: 600;
}