.sectionContent {
  margin: 1.5rem auto;
  padding-block: 0;
  padding: 1.5rem;

  .sectionHeader {
    margin-bottom: 1.5rem;
  }
}

.sectionPageHeading {
  margin: 1.5rem auto;
  padding-block: 0;
  padding: 1.5rem;
}
