// src/assets/sass/components/_amigos.scss
@use '../layout/grid' as default-grid;
@use '../abstracts' as tokens;

.amigo-item {
  @include tokens.border-box;
  position: relative;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 1rem;
  background-color: var(--secondary-surface-bg-color-1);

  &__avatar {
    align-content: center;
    background-color: transparent;
    border-radius: 50%;
    display: grid;
    height: 120px;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 8px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 120px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &__details {
    img {
      max-width: 100px;
      border-radius: 50%;
    }
    &--heading {
      color: hsl(240, 75%, 50%);
      font-size: 1.25rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }
    &--list-items {
      margin-left: 0.5rem;
      list-style-type:circle;
    }
    &--list-item {
      margin-bottom: 0.5rem;
    }
    &--label {
      font-weight: 600;
      margin-right: 12px;
    }
  }
}

.amigo-list {
  @include default-grid.grid-layout(); 
}
