@use '../layout/grid' as default-grid;
@use '../abstracts' as tokens;

.amigo-detail-item {
  @include tokens.border-box;

  &__header {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
  }

  &__field {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #555;
  }

  &__locations {
    margin-top: 1rem;

    &-header {
      font-size: 1.25rem;
      margin-bottom: 0.75rem;
      color: #333;
    }
  }
}

.amigo-detail-list {
  @include default-grid.grid-layout(); // → uses default columns and gap
}
