@use '../layout/grid' as default-grid;

.amigo-location-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;

  &__header {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  &__field {
    margin-bottom: 0.3rem;
    font-size: 1rem;
    color: #333;
  }
}

.amigo-location-list {
  @include default-grid.grid-layout();
}
