  // src/assets/sass/components/_authentication.scss

  .auth-form {
    &__label {
      display: block;
      font-weight: bold;
      margin-bottom: 1rem;
    }
    
    &__input {
      background-color: hsl(240, 20%, 95%);
      border-radius: 4px;
      border: 1px solid #ccc;
      color: hsl(240, 30%, 55%);
      padding: 10px;
      width: 100%;
    }
  
    &__button {
      background-color: hsl(240, 75%, 45%) !important;
      border-radius: 4px;
      border: none;
      color: #fff;
      cursor: pointer;
      margin: 0;
      padding: 10px;
      width: 150px;
  
      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
      &:hover {
        background-color: hsl(240, 95%, 60%) !important;
      }
    }
  
    &__error-message {
      color: red;
      margin-top: 1rem;
    }
  }
  
