// src/assets/sass/components/_buttons.scss
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  align-content: center;
  background-color: hsl(240, 80%, 45%);
  color: hsl(240, 35%, 80%);
  cursor: pointer;
  display: flex;
  font-family: inherit;
  font-weight: 500;
  height: 2.50rem;
  justify-content: center;
  justify-self: center;
  line-height: 1.25rem;
  padding: 0.5rem;
  transition: border-color 0.35s, color 0.55s, background-color 0.45s;
  width: 200px;
}

button:hover {
  border-color: hsl(240, 100%, 45%);
  color: #fff;
  background-color: hsl(240, 100%, 55%);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  button {
    background-color: #d9d9d9;
  }
}
