// src/assets/sass/components/_eventLocations.scss
@use '../layout/grid' as default-grid;

.event-location-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;

  h2 {
    margin-bottom: 10px;
  }

  p {
    margin: 5px 0;
  }
}

.event-location-list {
  @include default-grid.grid-layout(auto 1fr, 10px); // Using the grid layout mixin
}
