// src/assets/sass/components/_eventAmigoConnectors.scss
@import '../layout/grid';

.event-amigo-connector-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;

  .amigo-details {
    margin-top: 10px;
    img {
      max-width: 100px;
      border-radius: 50%;
    }
  }
}

.event-amigo-connector-list {
  @include grid-layout(auto 1fr, 10px); // Using the grid layout mixin
}