// src/assets/sass/components/_modal.scss

/* Modal Overlay Styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(240, 75%, 10%, 0.5);
  z-index: 1000;
}

/* Modal Container Styles */
.modal-content {
  background-color: #fff;
  color: hsl(240, 50%, 15%);
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  max-height: 560px; /* Set max height */

  /* Scrollbar Styles */
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* Firefox Scrollbar Styles */
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

/* Modal Close Button Styles */
.modal-close {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute; /* Use absolute positioning for better placement */
  top: 10px; /* Adjust top position */
  right: 10px; /* Adjust right position */
  padding: 10px;

  &:hover {
    background-color: #007bff;
    color: #fff;
  }
}
