/* Empty */
@use '../abstracts' as tokens;

.slider {
  display: grid; gap: .5rem;
}

.slider__track {
  position: relative; inline-size: 100%; block-size: 4px;
  border-radius: 2px;
  background: var(--color-divider);
}

.slider__thumb {
  position: absolute; top: 50%; transform: translate(-50%, -50%);
  inline-size: 16px; block-size: 16px; border-radius: 50%;
  background: var(--color-primary);
  box-shadow: var(--shadow-sm);
  cursor: pointer;
}
