
/* src/pages/EventDetails/EventDetail.module.scss */
.eventDetailsCard {
  color: inherit;
  
  /* scope any event-specific tweaks here */
}

.metaLine {
  margin-bottom: 0;
  color: var(--secondary-text-color);
}

.metaItem {
  margin-right: var(--spacing-xs);
}

.subheading {
  margin: var(--spacing-md) 0 var(--spacing-xs);
}
