// src/App.scss

// Abstract files
@use './assets/sass/abstracts' as *;

// Base files
@use './assets/sass/base' as base-styles;

// Components
@use './assets/sass/components' as comps;

// Layout
@use './assets/sass/layout' as layout;

// Pages
@use './assets/sass/pages' as pages;

// Theme
@use './assets/sass/theme' as theme;

// Vendor
@use './assets/sass/vendors' as vendors;
