
/* src/pages/Profile/Events.module.scss */
@use '@/assets/sass/layout/grid' as default-grid;

.page {
  background-color: var(--primary-surface-bg-color-1);
  display: grid;
  gap: var(--spacing-xl);
  padding: var(--spacing-md);
  justify-self: center;
  grid-template-columns: minmax(640px, 0.5fr);
}

.pageDescription {
  margin-bottom: 1.0rem;
}

.header {
  color: var(--secondary-heading-color);
  margin-bottom: var(--spacing-md);
  margin: auto;
}

.event-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;

  h2 {
    margin-bottom: 10px;
  }

  p {
    margin: 20px 0;
  }
}

.event-list {
  @include default-grid.grid-layout(); // Using the grid layout mixin
}

.roles-list__item {
  list-style-type: none;
}
