
// src/assets/sass/components/_events.scss
@use '../layout/grid' as default-grid;

.event-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;

  h2 {
    margin-bottom: 10px;
  }

  p {
    margin: 5px 0;
  }
}

.event-list {
  @include default-grid.grid-layout(); // Using the grid layout mixin
}
