/* src/assets/sass/navigation/_main-nav.scss */

/* Navigation: Main Nav (Primary Site Navigation) */
.main-nav {
  display: flex;
  gap: var(--spacing-md);

  a {
    text-decoration: none;
    padding: var(--spacing-xs) var(--spacing-sm);
    color: var(--link-color);
    font-weight: var(--font-weight-medium);
    border-radius: var(--border-radius-sm);

    &:hover,
    &.is-active {
      background: var(--color-background-primary-hover);
      color: var(--color-primary-hover);
    }
  }
}
