/* src/assets/sass/navigation/_pagination.scss */

/* Navigation: Pagination Controls */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-xs);
  margin-block: var(--spacing-lg);
}

.pagination__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-inline-size: 2rem;
  min-block-size: 2rem;
  padding: var(--spacing-xs);
  border-radius: var(--border-radius-md);
  text-decoration: none;
  color: var(--link-color);
  border: 1px solid var(--secondary-border-color);

  &:hover {
    background: var(--color-background-primary-hover);
    color: var(--color-primary-hover);
  }

  &.is-active {
    background: var(--color-background-primary-active);
    color: var(--color-primary-active);
    font-weight: var(--font-weight-bold);
  }
}
